{% extends 'main/base_layout.html' %} 
{% block title %}
    Add New Book 
{% endblock %} 
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Add New Book</h2>
          <form
            method="POST"
            action="{% url 'bookStore:update' pk %}">
            {% csrf_token %}
             {{ form.as_p }}
            <div class="d-grid">
              <button
                type="submit"
                class="btn btn-primary btn-block">
                Edit Book
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
